{% extends "translate.html.jinja2" %}

{% block resources %}
<script src="{{ url_for('static', filename='js/custom-file.js') }}"></script>
<script src="{{ url_for('static', filename='js/file-dnd.js') }}"></script>
<script src="{{ url_for('static', filename='js/translate/translate-files.js') }}"></script>
{% endblock %}

{% block translate_content %}
<form action="{{ url_for('translate.upload_file') }}" method="post" enctype="multipart/form-data" class="translate-file-form translate-form" data-status="none">
    <input type=hidden id="as_tmx" value="false" />
    <div class="row mt-4">
        <div class="col-12 col-sm-6">
            <h2 class="h5">Translate a document</h2>

            <p>
                Supported file formats: TXT, HTML, DOCX, PPTX, XLSX, ODP, ODT, ODS. You can also translate translation memories (TMX).
            </p>

            <div class="d-flex align-items-center mt-4">
                <select class="custom-select mr-1 engine-select" name="engine_id">
                    {% for engine_entry in engines %}
                        <option value="{{ engine_entry.engine.id }}">{{ engine_entry.engine.name }}</option>
                    {% endfor %}
                </select>

                <div class="text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary translate-btn">Translate</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item translate-btn" href="#">Translate file</a>
                            <a class="dropdown-item translate-btn translate-tmx-btn" href="#">Translate file and generate TMX</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tmx-mode-select border rounded border-primary mt-3 d-none">
                <div class="tmx-mode-select-content ml-2">
                    <div class="badge badge-primary">TMX</div>
                    <div class="p-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tmx_mode" id="tmx_mode_replace" value="replace" checked="checked">
                            <label class="form-check-label" for="tmx_mode_replace">Replace target</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tmx_mode" id="tmx_mode_create" value="create">
                            <label class="form-check-label" for="tmx_mode_create">Create a new target</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="file-dnd h-100">
                <label class="file-dnd-label" for="translate-dnd">
                    <div class="file-dnd-label-content">
                        <p class="h3">
                            <i class="fas fa-arrow-circle-up"></i> Drag files to upload
                        </p>

                        <p class="h6">
                            Or click to select files
                        </p>
                    </div>
                    <div clasS="file-dnd-dragged">
                        <p class="h5 file-dnd-name"></p>
                    </div>
                </label>
                <input type=file class="file-dnd-input" id="translate-dnd" />
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="engine-status-container">
                <div class="alert alert-warning engine-launching mb-0" role="alert">
                    <i class="fas fa-circle-notch fa-spin"></i> Launching engine and translating your file...
                </div>
                <div class="alert alert-danger engine-error mb-0" role="alert">
                    <i class="fas fa-exclamation-circle"></i> Something went wrong!
                </div>
                <div class="alert alert-success engine-ready mb-0" role="alert">
                    <i class="fas fa-check-circle"></i> Your file is ready! <a href="#" class="file_download alert-link">Download now</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}