{% extends "translate.html.jinja2" %}

{% block resources %}
<script src="{{ url_for('static', filename='js/translate/translate.js') }}"></script>
{% endblock %}

{% block translate_content %}
<form action="{{ url_for('translate.as_tmx') }}" method="post" class="live-translate-form" data-status="false">
    <div class="row mt-4 align-items-center">
        <div class="col-6 col-sm-3">
            <h2 class="h5">Translate</h2>
        </div>
        <div class="col-6 col-sm-3 text-right" style="padding-right: 0.4rem;">
            <select class="custom-select mr-1 engine-select" name="engine_id">
                {% for engine_entry in engines %}
                    <option value="{{ engine_entry.engine.id }}">{{ engine_entry.engine.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row no-gutters mt-2">
        <div class="col-12 col-sm-6">
            <div class="custom-textarea">
                <textarea name="text" class="live-translate-source" autocomplete="off"></textarea>
                <div class="custom-textarea-placeholder">
                    Type, paste text or drop a document
                </div>
                <div class="custom-textarea-separator">
                    <div class="icon">
                        <i class="fas fa-angle-double-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="custom-textarea readonly">
                <textarea readonly name="text" class="live-translate-target" autocomplete="off"></textarea>

                <div class="custom-textarea-placeholder engine-status-container px-3 w-100 h-100">
                    <div class="engine-status engine-launching h-100">
                        <div class="d-flex align-items-center justify-content-center w-100 h-100">
                            <div class="h1 spinner mr-3">
                                <i class="fas fa-cog"></i>
                            </div>
                            <div>
                                <p class="h5 mb-0">Launching engine...</p>
                                <p class="mb-0">
                                    Keep typing, translations will appear here
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="engine-status engine-error h-100">
                        <div class="d-flex align-items-center justify-content-center w-100 h-100">
                            <div class="h1 mr-3">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div>
                                <p class="h5 mb-0">Something went wrong...</p>
                                <p class="mb-0">
                                    Try <a href="#" class="engine-relaunch-btn">relaunching the engine</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}