{% extends "base.html.jinja2" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/file-dnd.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/engine-status.css') }}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <div class="btn-group">
                    <a href="{{ url_for('translate.translate_index') }}" class="btn btn-outline-primary btn-sm {{ 'active' if page_name == 'translate_text' else '' }}">
                        <i class="fas fa-language"></i> Text
                    </a>
                    <a href="{{ url_for('translate.translate_files') }}" class="btn btn-outline-primary btn-sm {{ 'active' if page_name == 'translate_files' else '' }}">
                        <i class="fas fa-file"></i> Files
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% if engines | length > 0 %}
    {% block translate_content %}
    {% endblock %}
{% else %}
<div class="row mt-4">
    <div class="col-12">
        <div class="jumbotron p-3 text-center">
            <p class="h6 m-0">
                You need an engine to translate text or files. <a href="{{ url_for('library.library_engines') }}">Grab</a> or <a href="{{ url_for('train.train_index') }}">train</a> a new one
            </p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}