{% extends "base.html.jinja2" %}

{% block head %}
{% endblock %}

{% block resources %}
<script src="{{ url_for('static', filename='js/longpoll' + infix + '.js') }}"></script>
<script src="{{ url_for('static', filename='js/launching' + infix + '.js') }}"></script>
{% endblock %}

{% block content %}
<input type=hidden id="task_id" value="{{ task_id }}" />
<div class="row align-items-center">
    <div class="col-12 col-sm-4">
        <img alt="Hieroglyphs" src="{{ url_for('static', filename='img/hieroglyphs.svg') }}" style="height: 48px;" class="mb-4" />
        <h1>Your engine is launching, please do not leave this window!</h1>
        <p>This may take a while but, once launched, you will be able to leave your training and try other sections.</p>
    </div>
</div>
{% endblock %}
