{% extends "base.html.jinja2" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/cloud.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/train.css') }}" />
{% endblock %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js" integrity="sha256-BFIKaFl5uYR8kP6wcRxaAqJpfZfC424TBccBBVjVzuY=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/train.js') }}"></script>
{% endblock %}

{% block content %}
<h2 class="h5">Train a neural network</h2>

{% if corpora | length == 0 %}
<div class="jumbotron p-3 text-center">
    <p class="h6 m-0">
        You need corpora to train an engine. <a href="{{ url_for('library.library_corpora') }}">Upload</a> a corpus or <a href="{{ url_for('library.library_engines') }}">grab</a> an engine
    </p>
</div>
{% else %}
<div class="row mt-4">
    <div class="col-12">
        <form action="{{ url_for('train.train_start') }}" method="POST" class="train-form">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="nameText" class="h6">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="nameText" name="nameText" value="{{ random_name }}"/>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <label for="descriptionText" class="h6">Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="descriptionText" name="descriptionText" value=""/>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Duration</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="epochsText" value="10" min="1" max="64" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">epochs</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="col-form-label h6">Patience</label>
                        <a href="#" class="text-dark">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </div>
                    <div class="input-group">
                        <input type="number" name="patienceTxt" class="form-control" value="5" min="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">validations</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label for="layer_3_n" class="col-form-label h6">Vocabulary size</label>
                    <div class="input-group">
                        <input type="number" name="vocabularySize" class="form-control" value="2000" min="1" max="32000" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">words</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Batch size</label>
                    <div class="input-group">
                        <input type="number" name="batchSizeTxt" class="form-control" value="6000" min="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">tokens</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 corpus-selector">
                <div class="col-12 col-sm-4 mb-3">
                    <div class="area-zone training-zone" data-valid="no">
                        <div class="area-values">
                            <div class="area-value-bar">
                                <div class="area-value-bar-bg"></div>
                                <div class="area-value-bar-fg"></div>
                            </div>
                            <small class="area-value area-value-min">10k</small>
                            <small class="area-value area-value-max">200k</small>
                            <small class="area-value area-value-current">0</small>
                        </div>

                        <div class="area-info">
                            <div class="area-name h6">Train</div>

                            <div class="area-corpora">
                            </div>
                        </div>
                    </div>

                    <div class="corpus-selector-list">
                        <table class="table table-bordered corpus-selector-table table-training">
                            <thead>
                                <tr>
                                    <th>Corpus</th>
                                    <th>Language</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for corpus in corpora %}
                                    <tr>
                                        <td>{{ corpus.name }}</td>
                                        <td>{{ corpus.source.name }} - {{ corpus.target.name }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-link corpus-selector-add p-0" data-corpus="training"
                                                data-corpus-id="{{ corpus.id }}"
                                                data-corpus-name="{{ corpus.name }}"
                                                data-corpus-lines="{{ corpus.corpus_files[0].file.lines }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-sm-4 mb-3">
                    <div class="area-zone dev-zone" data-valid="no">
                        <div class="area-values">
                            <div class="area-value-bar">
                                <div class="area-value-bar-bg"></div>
                                <div class="area-value-bar-fg"></div>
                            </div>
                            <small class="area-value area-value-min">10k</small>
                            <small class="area-value area-value-max">200k</small>
                            <small class="area-value area-value-current">0</small>
                        </div>

                        <div class="area-info">
                            <div class="area-name h6">Dev</div>

                            <div class="area-corpora">
                            </div>
                        </div>
                    </div>
                    
                    <div class="corpus-selector-list">
                        <table class="table table-bordered corpus-selector-table table-dev">
                            <thead>
                                <tr>
                                    <th>Corpus</th>
                                    <th>Language</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for corpus in corpora %}
                                    <tr>
                                        <td>{{ corpus.name }}</td>
                                        <td>{{ corpus.source.name }} - {{ corpus.target.name }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-link corpus-selector-add p-0" data-corpus="dev"
                                                data-corpus-id="{{ corpus.id }}"
                                                data-corpus-name="{{ corpus.name }}"
                                                data-corpus-lines="{{ corpus.corpus_files[0].file.lines }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-sm-4 mb-3">
                    <div class="area-zone test-zone" data-valid="no">
                        <div class="area-values">
                            <div class="area-value-bar">
                                <div class="area-value-bar-bg"></div>
                                <div class="area-value-bar-fg"></div>
                            </div>
                            <small class="area-value area-value-min">10k</small>
                            <small class="area-value area-value-max">200k</small>
                            <small class="area-value area-value-current">0</small>
                        </div>

                        <div class="area-info">
                            <div class="area-name h6">Test</div>

                            <div class="area-corpora">
                            </div>
                        </div>
                    </div>
                    
                    <div class="corpus-selector-list">
                        <table class="table table-bordered corpus-selector-table table-test">
                            <thead>
                                <tr>
                                    <th>Corpus</th>
                                    <th>Language</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for corpus in corpora %}
                                    <tr>
                                        <td>{{ corpus.name }}</td>
                                        <td>{{ corpus.source.name }} - {{ corpus.target.name }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-link corpus-selector-add p-0" data-corpus="test"
                                                data-corpus-id="{{ corpus.id }}"
                                                data-corpus-name="{{ corpus.name }}"
                                                data-corpus-lines="{{ corpus.corpus_files[0].file.lines }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row mt-4 align-items-center">
                <div class="col-6">
                    <div class="token-alert d-none">
                        <div class="d-flex align-items-center">
                            {% include "cloud.html.jinja2" %}
                            <div class="h6 ml-3">
                                We are getting your data ready for training! We are joining the selected
                                corpora and tokenizing it
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <input type=reset class="btn btn-secondary" value="Reset" />
                    <input type=submit class="btn btn-primary" value="Start training" />
                </div>
            </div>
        </form>
    </div>
</div>

<template id="area-corpus-template">
    <div class="area-corpus">
        <p class="mb-0 area-corpus-name">Corpus 1</p>
        <small><span class="area-corpus-amount">500</span> sentences · 100% of corpus</small>
    </div>
</template>
{% endif %}
{% endblock %}