{% extends "base.html.jinja2" %}

{% block head %}
{% include "datatables.min.css.jinja2" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/console' + infix + '.css') }}" />
{% endblock %}

{% block resources %}
{% include "datatables.min.js.jinja2" %}

<script src="{{ url_for('static', filename='lib/moment-with-locales.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/apexcharts.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/longpoll' + infix + '.js') }}"></script>
<script src="{{ url_for('static', filename='js/console' + infix + '.js') }}"></script>
{% endblock %}

{% block content %}
<input type=hidden id="engine_id" value="{{ engine.id }}" />

<div class="row">
    <div class="col-12 col-sm-8">
        {% if engine.has_stopped() %}
            <span class="badge badge-success">
                {% if engine.status == "stopped" %}
                    Stopped
                {% elif engine.status == "stopped_admin" %}
                    Stopped by admin
                {% else %}
                    Finished
                {% endif %}
            </span>
        {% else %}
            <span class="badge badge-warning">Training</span>
        {% endif %}
        <p>
            <strong class="nn-name h4">{{ engine.name }}</strong>
        </p>

        <div class="row mt-3">
            <div class="col-12 mb-3">
                <strong><i class="fas fa-sliders-h"></i> Engine settings</strong>
            </div>
            <div class="col-6 col-sm-4 mb-4">
                <div class="h6">Vocabulary size</div>
                <div class="vocabulary-size-container">—</div>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6">Beam size</div>
                <div class="beam-size-container">—</div>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6">Batch size</div>
                <div class="batch-size-container">—</div>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6">Validation freq.</div>
                <div class="validation-freq-container">—</div>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6">Stopping condition</div>
                <div class="patience-container">—</div>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6">Duration</div>
                <div class="epochs-container">—</div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 mb-3">
                <strong><i class="fas fa-file"></i> Engine corpora</strong>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-file-alt"></i> Training</div>
                {% for corpus, selected_size in corpora['train'] %}
                    <a href="{{ url_for('library.corpora_preview', id=corpus.id) }}" title="{{ corpus.name }} ({{ corpus.source.name }} - {{ corpus.target.name }}, {{ corpus.lines(human=True, abbr=False)}} lines)">
                        {{ corpus.name }} ({{ corpus.source.code }}-{{ corpus.target.code }}, {{ selected_size }})
                    </a>
                {% endfor %}
            </div>
            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-file-alt"></i> Validation</div>
                {% for corpus, selected_size in corpora['dev'] %}
                    <a href="{{ url_for('library.corpora_preview', id=corpus.id) }}" title="{{ corpus.name }} ({{ corpus.source.name }} - {{ corpus.target.name }}, {{ corpus.lines(human=True, abbr=False)}} lines)">
                        {{ corpus.name }} ({{ corpus.source.code }}-{{ corpus.target.code }}, {{ selected_size }})
                    </a>
                {% endfor %}
            </div>
            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-file-alt"></i> Test</div>
                {% for corpus, selected_size in corpora['test'] %}
                    <a href="{{ url_for('library.corpora_preview', id=corpus.id) }}" title="{{ corpus.name }} ({{ corpus.source.name }} - {{ corpus.target.name }}, {{ corpus.lines(human=True, abbr=False)}} lines)">
                        {{ corpus.name }} ({{ corpus.source.code }}-{{ corpus.target.code }}, {{ selected_size }})
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 mb-3">
                <strong><i class="far fa-chart-bar"></i> Engine stats</strong>
            </div>

            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-stopwatch"></i> Time to train</div>
                <div class="time-container">—</div>
            </div>
            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-tachometer-alt"></i> Tokens per second</div>
                <div class="tps-container">—</div>
            </div>
            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-trophy"></i> Score</div>
                <div class="score-container">—</div>
            </div>
            <div class="col-6 col-sm-4 mb-4">
                <div class="h6"><i class="fas fa-book"></i> Perplexity</div>
                <div class="ppl-container">—</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-4">
        <div class="text-right">
            {% if not is_normal() %}
                {% if not engine.has_stopped() %}
                    <a href="{{ url_for('train.train_finish', id=engine.id) }}" class="btn btn-danger">
                        <i class="far fa-stop-circle"></i> Stop
                    </a>
                {% else %}
                    <a href="{{ url_for('train.train_resume', engine_id=engine.id) }}" class="btn btn-success">
                        <i class="far fa-play-circle"></i> Resume
                    </a>
                {% endif %}
            {% endif %}

            {% if engine.has_stopped() %}
                <div class="h2 mt-3 mb-0">
                    {{ elapsed_format if elapsed_format else "—" }}
                </div>
            {% else %}
                <div class="h2 mt-3 mb-0">
                    <span class="time-left" data-started="{{ launched }}" data-minutes="60"></span> 
                </div>
            {% endif %}

            <div class="d-flex align-items-start justify-content-end">
                <div class="mr-2">
                    Epoch <span class="epoch-no">1</span> out of {{ config['training']['epochs'] }}
                </div>

                <div>
                    <i class="fas fa-hourglass-start"></i>
                </div>
            </div>

            <div class="d-flex align-items-start justify-content-end mt-3">
                <div class="mr-2">
                    <span class="gpu-power">0</span>Wh <br /> <span class="power-reference"></span>
                </div>

                <div class="text-warning">
                    <i class="fas fa-bolt"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% if engine.has_stopped() and not is_normal() %}
<div class="row mt-5">
    <div class="col-12">
        <div class="d-flex align-items-center">
            <div class="h3 mr-3">
                <i class="fas fa-vial"></i> Test zone
            </div>

            <div class="ml-2 flex-grow-1"><hr class="border-test border-bottom-0" /></div>
        </div>
    </div>

    <div class="col-12">
        <div class="p-3 border-test border-top-0">
            <div class="row align-items-center">
                <div class="col-12 col-sm-4">
                    <p>This engine scored <span class="score-container">0.00</span> points in validation.</p>
                    <p>You can get a more accurate score by performing a translation test against the Test corpora.</p>
                </div>
                <div class="col-12 col-sm-4 offset-sm-4">
                    <div class="test-panel d-none">
                        <div class="d-flex align-items-center">
                            <div class="test-animation">
                                <div class="test-animation-icon">
                                    <i class="fas fa-file"></i>
                                </div>

                                <div class="test-animation-bar"></div>
                            </div>

                            <div class="ml-4">
                                <div class="h1 mb-0 bold test-bleu-value">00.0</div>
                                <div class="h4">BLEU</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-warning btn-lg test-btn">Start test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row mt-5">
    <div class="col-12 mb-4">
        <div class="d-flex align-items-center">
            <div class="h3 mr-3">
                <i class="fas fa-chart-line"></i> Dashboard
            </div>

            <div class="ml-2 flex-grow-1"><hr /></div>
        </div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="h6">
            Loss in training
        </div>

        <div class="training-chart" data-tag="train/train_batch_loss"></div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="h6">
            Loss in validation
        </div>

        <div class="training-chart" data-tag="valid/valid_ppl"></div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="h6">
            BLEU score
        </div>

        <div class="training-chart" data-tag="valid/valid_score"></div>
    </div>

    <div class="col-12 col-sm-6">
        <div class="h6">
            Learning rate
        </div>

        <div class="training-chart" data-tag="train/train_learning_rate"></div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="d-flex align-items-center">
            <div class="h3 mr-3">
                <i class="fas fa-clipboard-list"></i> Training log
            </div>

            <div class="ml-2 flex-grow-1"><hr /></div>
        </div>
    </div>

    <div class="col-12 mt-3">
        <table class="table table-striped table-bordered log-table">
            <thead>
                <th>Time</th>
                <th>Epoch</th>
                <th>Step</th>
                <th>Batch Loss</th>
                <th>Tokens / s</th>
                <th>Learning rate</th>
            </thead>
        </table>
    </div>
</div>
{% endblock %}