{% extends "base.html.jinja2" %}

{% block head %}
{% include "datatables.min.css.jinja2" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cloud' + infix + '.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/train' + infix + '.css') }}" />
{% endblock %}

{% block resources %}
{% include "datatables.min.js.jinja2" %}
<script src="{{ url_for('static', filename='js/longpoll' + infix + '.js') }}"></script>
<script src="{{ url_for('static', filename='js/train' + infix + '.js') }}"></script>
{% endblock %}

{% block content %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
{% if is_researcher() %}

<p>The user is an a researcher</p>

{% else %}

<p>The user's a muggle</p>
{% endif %}

    <strong>Beginner users cannot train engines</strong>
    <br />
    You need an expert account to launch engine training,
    but you can check some of the already available <a href="{{ url_for('library.library_engines') }}">training logs</a>.

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<h2 class="h5">Train a neural engine</h2>

{% if corpora | length == 0 %}
<div class="jumbotron p-3 text-center">
    <p class="h6 m-0">
        You need corpora to train an engine. <a href="{{ url_for('library.library_corpora') }}">Upload</a> a corpus or <a href="{{ url_for('library.library_engines') }}">grab</a> an engine
    </p>
</div>
{% else %}
<div class="row mt-4">
    <div class="col-12">
        <form action="{{ url_for('train.train_start') }}" method="POST" class="train-form">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="nameText" class="h6">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="nameText" name="nameText" value="{{ random_name }}"/>
                    </div>
                </div>

                <div class="col-12 col-sm-3">
                    <label for="source_lang" class="h6">Source language</label>
                    <select class="custom-select mb-2 lang_sel source_lang" name="source_lang" id="source_lang">
                        {% for language in languages %}
                            <option value="{{ language.code }}">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 col-sm-3">
                    <label for="target_lang" class="h6">Target language</label>
                    <select class="custom-select mb-2 lang_sel target_lang" name="target_lang" id="target_lang">
                        {% for language in languages[1:] %}
                            <option value="{{ language.code }}">{{ language.name }}</option>
                        {% endfor %}
                            <option value="{{ languages[0].code }}">{{ languages[0].name }}</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-sm-6">
                    <label for="descriptionText" class="h6">Description</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="descriptionText" name="descriptionText" value=""/>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6" id="vocabularySizeGroup">
                    <label class="col-form-label h6">Vocabulary size</label>
                    <div class="input-group">
                        <input type="number" name="vocabularySize" class="form-control" value="16000" min="16000" max="32000" step="8000" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">sub-words</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Beam size</label>
                    <div class="input-group">
                        <input type="number" name="beamSizeTxt" id="beamSizeTxt" class="form-control" value="6" min="6" max="8" step="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">hypothesis</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Batch size</label>
                    <div class="input-group">
                        <input type="number" name="batchSizeTxt" id="batchSizeTxt" class="form-control" value="16" min="16" max="128" step="8" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">tokens</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Validation frequency</label>
                    <div class="input-group">
                        <input type="number" name="validationFreq" id="validationFreq" class="form-control" value="200" min="200" max="4000" step="200" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">steps</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Stopping condition</label>
                    <div class="input-group" id="patienceGroup">
                        <input type="number" name="patienceTxt" class="form-control" value="3" min="3" max="5" step="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">validations</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6">
                    <label class="col-form-label h6">Duration</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="epochsText" id="epochsText" value="5" min="2" max="10" step="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">epochs</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 corpus-selector" id="corpus-selector">
                {% for phase in ["training", "dev", "test"] %}
                    <div class="col-12 col-sm-4 mb-3">
                        <div class="area-zone {{ phase }}-zone">
                            <div class="area-values">
                                <div class="area-value-bar">
                                    <div class="area-value-bar-bg"></div>
                                    <div class="area-value-bar-fg"></div>
                                </div>
                                <small class="area-value area-value-min">
                                    {% if phase == "training" %} 10k {% else %} 1k {% endif %}
                                </small>
                                <small class="area-value area-value-max">
                                    {% if phase == "training" %} 500k {% else %} 5k {% endif %}
                                </small>
                                <small class="area-value area-value-current">0</small>
                            </div>

                            <div class="area-info">
                                <div class="area-name h6">
                                    {% if phase == "training" %}
                                        Training
                                    {% elif phase == "dev" %}
                                        Validation
                                    {% else %}
                                        Test
                                    {% endif %}

                                    corpus
                                </div>

                                <div class="area-corpora">
                                </div>
                            </div>
                        </div>

                        <div class="corpus-selector-list">
                            <table class="table corpus-selector-table table-{{ phase }}">
                                <thead>
                                    <tr>
                                        <th>Corpus</th>
                                        <th></th>
                                        <th class="none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for corpus in corpora %}
                                        <tr class="row-corpus" data-corpus="{{ phase }}" data-corpus-id="{{ corpus.id }}" data-src="{{ corpus.source.code }}" data-trg="{{ corpus.target.code }}">
                                            <td class="border-0 py-2">
                                                <span class="badge px-0">
                                                    {{ corpus.source.code }}—{{ corpus.target.code }}
                                                </span>
                                                <p>
                                                    {{ corpus.name }}
                                                </p>
                                            </td>
                                            <td class="text-center border-0 p-0 py-2 align-middle" data-sort="{{ corpus.lines() }}" data-search="{{ corpus.lines() }}">
                                                <div class="input-group">
                                                    <input type=number title="Parallel sentences" class="form-control corpus-selector-lines" min="1" max="{{ corpus.lines() }}" value="{{ corpus.lines() }}" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-primary corpus-selector-add"
                                                            title="Add parallel sentences"
                                                            data-corpus="{{ phase }}"
                                                            data-corpus-id="{{ corpus.id }}"
                                                            data-corpus-name="{{ corpus.name }}"
                                                            data-corpus-lines="{{ corpus.lines() }}">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                                <div class="text-right">
                                                    <small><span class="corpus-lines-max">{{ corpus.lines(human=True, abbr=True) }}</span> total</small>
                                                </div>
                                            </td>
                                            <td>
                                                {{ corpus.description }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row mt-4 align-items-center">
                <div class="col-12 col-sm-6">
                    <div class="token-alert d-none">
                        <div class="d-flex align-items-center">
                            {% include "cloud.html.jinja2" %}
                            <div class="h6 ml-3">
                                We are getting your data ready for training! We are joining the selected
                                corpora and tokenizing it
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 text-right">
                    <input type=reset class="btn btn-secondary reset-btn" value="Reset" />

                    {% if not is_normal() %}
                    <input type=submit class="btn btn-primary btn-start-training" value="Start training" disabled />
                    {% else %}
                    <button class="btn btn-primary" disabled>Start training</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

<template id="area-corpus-template">
    <div class="area-corpus mb-2">
        <p class="mb-0">
            <span class="area-corpus-name"></span> 
            <small>
                <a href="#" class="area-corpus-delete text-danger"><i class="far fa-trash-alt"></i></a>
            </small>
        </p>
        <small><span class="area-corpus-amount"></span> sentences · <span class="area-corpus-percent"></span>% of corpus</small>
    </div>
</template>

<template id="addcorpusPopover-template">
    <div class="popover-heading">
        Add sentences
    </div>

    <div class="popover-body">
        <div class="input-group mb-3">
            <input type="number" class="form-control addcorpus_lines" min="1" />
            <div class="input-group-append">
                <span class="input-group-text">lines</span>
            </div>
        </div>

        <a href="#" class="btn btn-primary addcorpus_btn mr-2">Add</a>
    </div>
</template>

<template id="no-corpora-template">
    <tr class="no-corpora-row">
        <td colspan="2" class="overflow">
            No corpora available for the selected languages
        </td>
    </tr>
</template>
{% endif %}
{% endblock %}