{% extends "base.html.jinja2" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/train.css') }}" />
{% endblock %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/console.js') }}"></script>
{% endblock %}

{% block content %}
<input type=hidden id="engine_id" value="{{ engine.id }}" />
<h2 class="h5">Train a neural engine</h2>

<div class="row my-4">
    <div class="col-12">
        <div class="jumbotron p-3 text-center">
            {% if engine.status != "stopped" %}
            <strong class="nn-name">{{ engine.name }}</strong> is training...

            <div class="jumping-trees mt-2 text-success">
                <i class="tree fas fa-tree" style="animation-delay: 0s;"></i>
                <i class="tree fas fa-tree" style="animation-delay: 0.1s;"></i>
                <i class="tree fas fa-tree" style="animation-delay: 0.3s;"></i>
            </div>

            <small>... and this is a message about ethics</small>
            {% else %}
            The training of <strong class="nn-name">{{ engine.name }}</strong> was stopped!
            {% endif %}
        </div>

        <div class="row align-items-center">
            <div class="col-6">
                {% if engine.status == "stopped" %}
                It took {{ int(elapsed / 3600) }}h {{ int((elapsed % 3600) / 60) }}min {{ int(elapsed % 3600) % 60 }}s to train.
                {% else %}
                <span class="time-left" data-started="{{ launched }}" data-minutes="60"></span> left
                <br />
                Epoch <span class="epoch-no">1</span> out of {{ config['training']['epochs'] }}
                {% endif %}
            </div>

            {% if engine.status != "stopped" %}
            <div class="col-6 text-right">
                <a href="{{ url_for('train.train_stop', id=engine.id) }}" class="btn btn-danger">Stop now</a>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="h5 mt-4">Loss</h2>
                <div class="row">
                    <div class="col-6 chart-col">
                        <h3 class="h6 d-flex align-items-center justify-content-between">
                            During training
                            <button class="btn btn-outline-secondary border-0 fullscreen-button"><i class="fas fa-expand"></i></button>
                            <button class="btn btn-outline-secondary border-0 fullscreen-close"><i class="fas fa-times"></i></button>
                        </h3>

                        <div class="chart-container">
                            <canvas class="graph-batch-loss"></canvas>
                        </div>
                    </div>

                    <div class="col-6 chart-col">
                        <h3 class="h6 d-flex align-items-center justify-content-between">
                            During validation
                            <button class="btn btn-outline-secondary border-0 fullscreen-button"><i class="fas fa-expand"></i></button>
                            <button class="btn btn-outline-secondary border-0 fullscreen-close"><i class="fas fa-times"></i></button>
                        </h3>
                        <div class="chart-container">
                            <canvas class="graph-valid-loss"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 chart-col">
                <h2 class="h5 d-flex align-items-center justify-content-between">
                    Attention
                    <button class="btn btn-outline-secondary border-0 fullscreen-button"><i class="fas fa-expand"></i></button>
                    <button class="btn btn-outline-secondary border-0 fullscreen-close"><i class="fas fa-times"></i></button>
                </h2>
                <img class="img-fluid" alt="" src="{{ url_for('train.train_attention', id=engine.id) }}" />
            </div>

            <div class="col-6 chart-col">
                <h2 class="h5 d-flex align-items-center justify-content-between">
                    Learning rate
                    <button class="btn btn-outline-secondary border-0 fullscreen-button"><i class="fas fa-expand"></i></button>
                    <button class="btn btn-outline-secondary border-0 fullscreen-close"><i class="fas fa-times"></i></button>
                </h2>
                <div class="chart-container">
                    <canvas class="graph-learning-rate"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="h5 mt-4">Train raw log</h2>

                <div class="log"></div>
            </div>
        </div>
    </div>
</div>

<template id="log-entry-template">
    <div class="log-group">
        <div class="log-entry"></div>
    </div>
</template>
{% endblock %}