{% extends "base.html.jinja2" %}

{% block content %}
<h2 class="h5">Train a neural network</h2>

{% if corpora | length == 0 %}
<div class="jumbotron p-3 text-center">
    <p class="h6 m-0">
        You need corpora to train an engine. <a href="{{ url_for('library.library_corpora') }}">Upload</a> or <a href="{{ url_for('library.library_engines') }}">grab</a> one
    </p>
</div>
{% else %}
<div class="row mt-4">
    <div class="col-12">
        <form action="{{ url_for('train.train_start') }}" method="POST">
            <div class="row">
                <div class="col-12">
                    <label for="nameText" class="h6">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="nameText" name="nameText" value="{{ random_name }}"/>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-4 col-12">
                    <label class="col-form-label h6" for="corpus">Training corpus</label>

                    <select name="train_corpus" id="train_corpus" class="custom-select">
                        {% for corpus in corpora %}
                            <option value="{{ corpus.id }}">{{ corpus.name }} ({{ corpus.source.name }} - {{ corpus.target.name }})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-4 col-12 mt-3 mt-sm-0">
                    <label class="col-form-label h6" for="corpus">Dev corpus</label>

                    <select name="dev_corpus" id="dev_corpus" class="custom-select">
                        {% for corpus in corpora %}
                            <option value="{{ corpus.id }}">{{ corpus.name }} ({{ corpus.source.name }} - {{ corpus.target.name }})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-4 col-12 mt-3 mt-sm-0">
                    <label class="col-form-label h6" for="corpus">Test corpus</label>

                    <select name="test_corpus" id="test_corpus" class="custom-select">
                        {% for corpus in corpora %}
                            <option value="{{ corpus.id }}">{{ corpus.name }} ({{ corpus.source.name }} - {{ corpus.target.name }})</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group col-6">
                    <label class="col-form-label h6">Duration</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="epochsText" value="10" min="1" max="64" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">epochs</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="col-form-label h6">Patience</label>
                        <a href="#" class="text-dark">
                            <i class="far fa-question-circle"></i>
                        </a>
                    </div>
                    <div class="input-group">
                        <input type="number" name="patienceTxt" class="form-control" value="5" min="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">validations</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label for="layer_3_n" class="col-form-label h6">Vocabulary size</label>
                    <div class="input-group">
                        <input type="number" name="vocabularySize" class="form-control" value="2000" min="1" max="32000" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">words</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-6">
                    <label class="col-form-label h6">Batch size</label>
                    <div class="input-group">
                        <input type="number" name="batchSizeTxt" class="form-control" value="6000" min="1" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">tokens</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-6">
                    <input type=reset class="btn btn-secondary" value="Reset" />
                </div>
                <div class="col-6 text-right">
                    <input type=submit class="btn btn-primary" value="Start training" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}