{% extends "base.html.jinja2" %}

{% block content %}

<h2 class="h5">Upload corpora</h2>
                
<div class="jumbotron p-4 text-center">
    <div class="row">
        <div class="col-6">
            <a href="{{ url_for('data.data_upload', type='bilingual') }}" class="btn btn-outline-primary btn-lg text-uppercase">
                bilingual corpus
            </a>

            <p class="mt-4">
                With this kind of corpora, you can train engines to translate from one language to another.
            </p>
        </div>

        <div class="col-6">
            <a href="{{ url_for('data.data_upload', type='monolingual') }}" class="btn btn-outline-primary btn-lg text-uppercase">
                monolingual corpus
            </a>

            <p class="mt-4">
                With this kind of corpora, you can improve an engine by automatically translating from a monolingual file.
            </p>
        </div>
    </div>
</div>

<h2 class="h5">Your corpora</h2>
{% if corpora|length > 0 %}
    {% for corpus in corpora %}
    <div class="row p-3 bg-light mx-sm-0">
        <div class="col-8">
            <h2 class="h5 mb-0">
                <i class="fas fa-folder mr-2"></i> {{ corpus.name }}
            </h2>
        </div>
        <div class="col-4 text-right">
            <strong class="h6">{{ corpus.corpus_languages[0].language.name }}
                {% if corpus.type == "bilingual" %} - {{ corpus.corpus_languages[1].language.name }} {% endif %}
            </strong>
        </div>

        <div class="col-12 pl-4 mt-2">
            {% for file_entry in corpus.corpus_files %}
            <div class="d-flex align-items-center">
                <i class="fas fa-file ml-4 mr-2"></i> {{ file_entry.file.name }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="jumbotron p-3 text-center h6 m-0">
    Nothing yet!
</div>
{% endif %}
{% endblock %}