{% extends "base.html.jinja2" %}

{% block content %}

<h2 class="h5">Upload corpora</h2>
                
<div class="jumbotron p-4 text-center">
    <div class="row">
        <div class="col-6">
            <a href="{{ url_for('data.data_upload', type='bilingual') }}" class="btn btn-outline-primary btn-lg text-uppercase">bilingual corpus</a>

            <p class="mt-4">
                With this kind of corpora, you can train engines to translate from one language to another.
            </p>
        </div>

        <div class="col-6">
            <button class="btn btn-outline-primary btn-lg text-uppercase">monolingual corpus</button>

            <p class="mt-4">
                With this kind of corpora, you can improve an engine by automatically translating from a monolingual file.
            </p>
        </div>
    </div>
</div>

<h2 class="h5">Your corpora</h2>
<div class="row p-3 bg-light mx-sm-0">
    <div class="col-8">
        <h2 class="h5 mb-0">
            <i class="fas fa-folder mr-2"></i> OpenSubtitles 100k
        </h2>
    </div>
    <div class="col-4 text-right">
        <strong class="h6">ca-es</strong>
    </div>
    <div class="col-12 pl-4 mt-2">
        <div class="d-flex align-items-center mb-1">
            <i class="fas fa-file ml-4 mr-2"></i> 100k-OpenSubtitles.ca-es.ca
        </div>
        <div class="d-flex align-items-center">
            <i class="fas fa-file ml-4 mr-2"></i> 100k-OpenSubtitles.ca-es.es
        </div>
    </div>
</div>
<div class="row p-3 bg-light mx-sm-0 mt-3">
    <div class="col-8">
        <h2 class="h5 mb-0">
            <i class="fas fa-folder mr-2"></i> OpenSubtitles 50k
        </h2>
    </div>
    <div class="col-4 text-right">
        <strong class="h6">es-ca</strong>
    </div>
    <div class="col-12 pl-4 mt-2">
        <div class="d-flex align-items-center mb-1">
            <i class="fas fa-file ml-4 mr-2"></i> 50k-OpenSubtitles.ca-es.es
        </div>
        <div class="d-flex align-items-center">
            <i class="fas fa-file ml-4 mr-2"></i> 50k-OpenSubtitles.ca-es.ca
        </div>
    </div>
</div>
<div class="row p-3 bg-light mx-sm-0 mt-3">
    <div class="col-8">
        <h2 class="h5 mb-0">
            <i class="fas fa-folder mr-2"></i> OpenSubtitles 10k for back-translation
        </h2>
    </div>
    <div class="col-4 text-right">
        <strong class="h6">ca</strong>
    </div>
    <div class="col-12 pl-4 mt-2">
        <div class="d-flex align-items-center mb-1">
            <i class="fas fa-file ml-4 mr-2"></i> 10k-OpenSubtitles.ca-es.ca
        </div>
    </div>
</div>

{% endblock %}