.sides-decoration::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    z-index: -1;
    position: relative;
    top: 50%;
}

.evaluate-status .alert {
    display: none;
}

.evaluate-status[data-status="pending"] .evaluate-status-pending {
    display: block;
}

.evaluate-status[data-status="error"] .evaluate-status-error {
    display: block;
}

.metric-hint {
    position: relative;
    height: 8px;
}

.metric-hint .progress {
    width: 100%;
    height: 100%;
}

.metric-hint .metric-indicator {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50% 50%;
    background: white;
    border: solid 3px var(--dark);
    position: absolute;
    top: -4px;
}