{% extends "admin.html.jinja2" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.css') }}" />
{% endblock %}

{% block resources %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js" integrity="sha256-BFIKaFl5uYR8kP6wcRxaAqJpfZfC424TBccBBVjVzuY=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/admin/system.js') }}"></script>
{% endblock %}

{% block admin_content %}
<div class="row mt-3 align-items-center">
    <div class="col-6 h6">
        Resources used
    </div>
    <div class="col-6 text-right">
        <a href="" class="btn btn-link">
            <i class="fas fa-redo"></i>
            Reload
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-4 mb-2 mb-sm-0" title="RAM usage" aria-label="RAM usage">
        <div class="bg-light p-3 d-flex align-items-center h-100">
            <div class="mr-3 h1">
                <i class="fas fa-memory"></i>
            </div>
            <div>
                <p class="h2">
                    {{ ram.percent }}%
                </p>
                {{ ram.used }}GB out of {{ ram.total }}GB
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 mb-2 mb-sm-0" title="CPU usage" aria-label="CPU usage">
        <div class="bg-light p-3 d-flex align-items-center h-100">
            <div class="mr-3 h1">
                <i class="fas fa-microchip"></i>
            </div>
            <div>
                <p class="h2">
                    {{ cpu }}%
                </p>
                CPU usage
            </div>
        </div>
    </div>

    {% for gpu in gpus %}
    <div class="col-12 col-sm-4 mb-2 mb-sm-0" title="GPU usage" aria-label="GPU usage">
        <div class="bg-light p-3 d-flex align-items-center h-100">
            <div class="mr-3 h1">
                <i class="fas fa-desktop"></i>
            </div>
            <div>
                <div class="mb-2">
                    <p class="h2 d-inline">
                        {{ gpu.proc }}% 
                        <small class="h5">
                            <i class="fas fa-memory"></i> {{ gpu.memory }}%
                        </small>
                    </p>
                </div>

                GPU {{ gpu.id }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row mt-5">
    <div class="col-12 h6">
        Python processes
    </div>

    <div class="col-12 mt-3">
        <div class="log">
            <table class="table table-striped table-bordered users-table">
                <thead>
                    <th>PID</th>
                    <th>Start</th>
                    <th>% CPU</th>
                    <th>% Memory</th>
                    <th>Process</th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}