absl-py
alembic
astor
astroid
Babel
blinker
cachetools
certifi
chardet
click
cssmin
cycler
Flask
Flask-Babel
Flask-Dance
Flask-Dropzone
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
isort
itsdangerous
Jinja2
joblib
joeynmt @ file:///opt/mutnmt/app/joeynmt
jsmin
Keras-Applications
Keras-Preprocessing
kiwisolver
lazy-object-proxy
lxml
Mako
Markdown
MarkupSafe
matplotlib
mccabe
mecab-python3
namegenerator
nltk
numpy
oauthlib
opt-einsum
pandas
Pillow
portalocker
protobuf
psutil
pyasn1
pyasn1-modules
pylint
pynvml
pyparsing
pyter3
python-dateutil
python-editor
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
sacrebleu
scipy
seaborn
sentencepiece
six
SQLAlchemy
SQLAlchemy-Utils
subword-nmt
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
toml
torch
torchtext
tqdm
typed-ast
typing
urllib3
URLObject
Werkzeug
wrapt
XlsxWriter
