absl-py==0.9.0
alembic==1.4.2
amqp==2.5.2
astor==0.8.1
astroid==2.4.1
astunparse==1.6.3
Babel==2.8.0
billiard==3.6.3.0
blinker==1.4
cachetools==4.1.0
celery==4.4.2
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
rcssmin==1.0.6
cycler==0.10.0
Flask==1.1.2
Flask-Babel==1.0.0
Flask-Dance==3.0.0
Flask-Dropzone==1.5.4
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
future==0.18.2
gast==0.3.3
gevent==20.5.0
google-auth==1.28.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.29.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.9
importlib-metadata==3.4.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.15.1
joeynmt @ file:///opt/mutnmt/app/joeynmt
jsmin==3.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
kombu==4.6.8
lazy-object-proxy==1.4.3
lxml==4.6.5
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mecab-python3==0.996.5
namegenerator==1.0.6
nltk==3.5
numpy==1.20.1
oauthlib==3.1.0
opt-einsum==3.2.1
pandas==1.0.3
Pillow==8.1.1
portalocker==2.0.0
protobuf==3.12.0
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.5.2
pynvml==8.0.4
pyparsing==2.4.7
pyter3==0.3
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
PyYAML==5.4
redis==3.5.2
regex==2020.5.14
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.1
sacrebleu==1.5.1
scipy==1.4.1
seaborn==0.10.1
sentencepiece==0.1.90
six==1.12.0
SQLAlchemy==1.3.17
SQLAlchemy-Utils==0.36.5
subword-nmt==0.3.7
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
toml==0.10.1
torch==1.8.1
torchtext==0.9.1
tqdm==4.46.0
typed-ast==1.4.1
typing==3.7.4.1
typing-extensions==3.7.4.3
urllib3==1.25.9
URLObject==2.4.3
vine==1.3.0
Werkzeug==1.0.1
wrapt==1.11.1
XlsxWriter==1.2.8
zipp==3.4.0
