<!DOCTYPE html>
<html>
<head>
    <title>MutNMT - Explore the project</title>
    <meta charset="utf-8" />
    {% include "head.html.jinja2" %}
</head>
<body>
    <div class="container">
        <div class="row pt-4 align-items-center">
            <div class="col-sm-3 col-8 offset-2 offset-sm-0">
                <a href="/">
                    <img class="img-fluid" alt="MutNMT" src="{{ url_for('static', filename='img/logo.png') }}" />
                </a>
            </div>
        </div>

        <h1 class="h4 text-primary mt-5">About the project</h1>

        <div class="row mt-3">
            {% for video in videos %}
                <div class="col-4 mb-3">
                    <div class="h6">{{ video['name'] }}</div>
                    <iframe class="w-100" src="https://www.youtube-nocookie.com/embed/{{ video['id'] }}"
                            style="min-height: 12rem;"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
