<div class="tokenizer-animation">
    <i class="ta-cloud fas fa-cloud"></i>
    <div class="cogs">
        <i class="cog fas fa-cog"></i>
        <i class="cog fas fa-cog"></i>
        <i class="cog fas fa-cog"></i>
    </div>
</div>