<div class="file-dnd {{ file_dnd_id }}">
    <label class="file-dnd-label" for="{{ file_dnd_id }}">
        <div class="file-dnd-label-content">
            <div class="d-flex">
                <i class="fas fa-arrow-circle-up mr-2 h3"></i> 
                <div>
                    {% if not file_dnd_small %}
                        <p class="h3">Drag files to upload</p>
                        <p class="h6">
                            Or click to select files
                        </p>
                    {% else %}
                        <p class="h4 mb-0">Drag or select files</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div clasS="file-dnd-dragged">
            <p class="h5 file-dnd-name"></p>
        </div>
    </label>
    <input type=file class="file-dnd-input" id="{{ file_dnd_id }}" />
</div>