<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=yes">
<link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}" />

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome.min.css') }}" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
