<div class="tour-guide hidden">
    <div class="tour-guide-picture" title="Aitor"></div>
    <div class="tour-guide-content">
        <div class="tour-guide-bubble"></div>
        <div class="tour-guide-controls">
            <button class="btn btn-primary btn-sm btn-begin-tour">Begin tour</button>
            <button class="btn btn-secondary btn-sm btn-hide-tour">I'm fine</button>
        </div>
    </div>
</div>