{% extends "inspect.html.jinja2" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/engine-status.css') }}" />
{% endblock %}

{% block resources %}
<script src="{{ url_for('static', filename='js/inspect/compare.inspect.js') }}"></script>
{% endblock %}

{% block inspect_content %}
<h3 class="h6">Compare with</h3>

<div class="compare-btns d-none">
    <div class="d-flex">
        {% for engine_entry in engines %}
        <div class="btn-group-toggle mr-2" data-toggle="buttons">
            <label class="btn btn-sm btn-outline-success">
                <input type="checkbox" class="compare-engine" data-engine-id="{{ engine_entry.engine_id }}" /> {{ engine_entry.engine.name }}
            </label>
        </div>
        {% endfor %}
    </div>
</div>

<div class="inspect-compare-content mt-5 d-none">
</div>

<template id="translation-template">
    <div class="row">
        <div class="col-12 col-sm-3">
            <strong class="engine-name"></strong>
        </div>
        <div class="col-12 col-sm-8">
            <span class="user-engine-target"></span>
        </div>
    </div>

    <hr />
</template>
{% endblock %}